<div class="row">
    <div class="contenedor">
        <div class="logo">
<img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/Franco-691" target="_blank"><img src="../../../assets/kisspng-github-logo-repository-computer-icons-5afa376c51ca94.387166531526347628335.png" alt=""></a>
                <a href="https://www.instagram.com/franco.battistonn/" target="_blank"><img src="../../../assets/pngwing.com (1).png" alt=""></a>
                <a href="https://www.linkedin.com/in/franco-battiston-170736210/" target="_blank"><img src="../../../assets/pngwing.com.png" alt=""></a>
                <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">ingreso</button>
                <button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesion</button>

            </div>
        </div>
    </div>
</div>
